/* Tasks:
- to make all links lila, bold without subscript;
- all h1,h2 to make uppercase (text-translorm);
- all p align in such a way that the text is distributed across the line;
- increase height of the headings (h1, h2) (line-height) -> to choose the most appropriate; */



a {
  color: rosybrown;
  font-weight: bold;
  text-decoration: none;
}

h1, h2 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 3em;
} 

p {
  text-align: justify;
}