* {
    box-sizing: border-box;
}

.outerBlock {
    border: 5px solid blue;
    height: 500px; 
}

.innerBlock {
border: 5px solid red;
padding: 20py;
font-size: 2rem; 
}

.flexParent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: raw;
    /* to push the elements on the next line */ 
    justify-content: flex-start;
    /* main axis, i.e. x */
    /* space-between: the two elements on the end push to the ends of the page, the elements inside range evently between the end;
    space-around: equal space between the elements, in the middle double-space,
    space-evently: equal space between all the elements, also between the middle elements - the same space */
    align-items: center; 
    /* to move/aling the elements on the vertial (across-) axis, i.e. y */ 
    gap: 20px; 
    /* to allocate space between the alements */
    flex-flow: row wrap;
    /* compbination of flex-direction and flex-wrap */ 

}

.flexChild {

}

.child3 {
      /* to push one of the elements from another to the end, i.e. separating from other elements -> to use margin-left: auto */
  
}
/* If I move one of the elemetn inside the flex box, i.e. by margin, all the elements will move */ 

/* Flex model: 
- there should be a parent elemnt and child elements inside;
- to make sure the parent element behaves like parent flex, the command display: flex should be used for the parent element;
- display: flex impacts the ordering inside the block/the parent -> flex container;
- the elements inside flex container behaves aroud two axes;
- the elements take the space of the parent element i.e. flex container;
- to move emements inside -> to use flex-direction, justify-content;
*/