
body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.background { 
    background-image: url(./Assets/Shell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 45vh;
    width: 100%;
}
 
.heading {
     font-size: 30px;
     font-weight: bolder;
     color: #926239;
     margin-bottom: 2px;
 }
 
 .text1 {
     font-size: 10px;
     font-weight: bold;
     color: #926239;    
     margin-top: 1px;
 }
 
 .btn_container {
     display: flex; 
     justify-content: center;
     align-items: center;
 }
 
 .btn {
     display: inline-block;
     background-color: inherit;
     border: 1px solid #926239;
     border-radius: 5px;
     color: #926239;
     padding: 3px; 
     text-decoration: none;
     font-size: 10px;
     cursor: pointer;
     transition: background-color 0.3s ease;
    }
 
 .btn:hover {
     background-color: #926239;
     color: white;
 }
 
 .text2 {
     background-color: #926239;
     font-size: 10px;
     color: white;
     padding: 10px 5px;
     margin: 0 auto;
 }
 
 .text3 {
     background-color: white;
     font-size: 10px;
     color: #926239;
     padding: 10px 5px;
     margin: 0 auto;
 }
 

 .container {
    font-size: 0;
}
/* Used to remove white space b/w inline-block elements, otherwise the elements overlap; problem: to not add any text in the container, as this will make it invisible (as size 0) */
 
 .block {
    display: inline-block;
    width: 33.3333%;
    font-size: 10px;    
    vertical-align: top;
    
 }
 
 .block1 {
     background-color: #926239; 
     color: white;
     padding: 5px 5px;
     
 }
 
 .block2 {
     background-color: white; 
     color: #926239;
     padding: 5px 5px;
 }