/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
  }
  
  /* Container Styling */
  .container {
    width: 100%;
    min-height: 100vh;
    background-image: url('./Assets/ракушка.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Hero Section */
  .hero {
    text-align: center;
    color: #926239;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Button Styling */
  .btn {
    display: inline-block;
    background-color: white;
    border: 2px solid #926239;
    border-radius: 5px;
    color: #926239;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #926239;
    color: white;
  }
  
  /* Content Section */
  .content {
    padding: 20px;
    background-color: #926239;
    color: white;
  }
  
  .content p {
    margin-bottom: 10px;
  }
  
  .content-row {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  
  .content-row p {
    display: inline-block;
    width: 45%;
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: #926239;
  }
  