* {
    box-sizing: border-box;
    margin: 25px;
    padding: 0;
}


img { 
border: 2px solid green;
width: 250px;
height: 210px;
object-fit:cover;
object-position:0 0 15em; 
border-radius: 100%;
margin: 10px;
padding: 5px;
rotate: 270deg;

}

p {
    border: 10px solid yellow;
    width: 200px;
    height: auto;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    vertical-align:baseline;
   

}